h1 {
  color: "rgb(87,87,87)";
  font: "Helvetica", sans-serif;
  text-align: center;
  font-size: 40px;
}
h2 {
  color: "rgb(87,87,87)";
  font: "Helvetica", sans-serif;
  text-align: left;
  font-size: 30px;
}
p {
  color: "rgb(57,223,51)";
  font: "Helvetica", sans-serif;
  text-align: left;
  font-size: 14px;
}

li {
  padding: 20px 100px;
}

ul {
  padding: 20px 100px;
}
