h1 {
  color: "rgb(87,87,87)";
  font: "Helvetica", sans-serif;
  text-align: center;
  font-size: 40px;
}
h2 {
  color: "rgb(87,87,87)";
  font: "Helvetica", sans-serif;
  text-align: left;
  font-size: 30px;
}
h3 {
  color: "rgb(87,87,87)";
  font: "Helvetica", sans-serif;
  text-align: left;
  font-size: 20px;
}
p {
  color: "rgb(57,223,51)";
  font: "Helvetica", sans-serif;
  text-align: left;
  font-size: 14px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
