ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #b5f9ae;
  text-align: right;
}

.navbar-nav {
  float: right;
}

.navbar-header {
  padding: 10px 16px;
}

li a {
  display: block;
  color: white;
  text-align: right;
  padding: 50px 16px;
  text-decoration: none;
}

li {
  padding: 10px 30px;
}

div {
  background-color: #b5f9ae;
}


/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
