.img-rounded {
  border-radius: 50%;
  width:200px;
  height:200px
}

.landing-image{
  width:200px;
  height:200px;
}

.row {
margin: 70px;
border: 1px solid #b5f9ae
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.carousel-indicators {
  color: b5f9ae;
}

.img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #b5f9ae;
  text-align: right;
}

.navbar-nav {
  float: right;
}

.navbar-header {
  padding: 10px 16px;
}

li a {
  display: block;
  color: white;
  text-align: right;
  padding: 50px 16px;
  text-decoration: none;
}

li {
  padding: 10px 30px;
}


li a:hover {
  background-color: #111;
}

div {
  background-color: #b5f9ae;
}

.navbar-brand {
  font-size: 100px;
}
